body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*
Add some style blocks below this line to style the card.
*/
section {
    box-sizing: border-box;
    border: dotted 5px rgb(43, 97, 52); 
    width: 50vh;
    height: 70vh;   
    padding: 10px;
    margin: 10px;
}